button, input[type="submit"], .btn { border: none; border-radius: none; cursor: pointer; padding: .85%; text-transform: uppercase; font-family: "Prohibition", Helvetica, sans-serif; font-size: 100%; min-width: 200px; background: #4D5653; color: #FFBB11; }
button:hover, input[type="submit"]:hover, .btn:hover { background: #373e3c; -webkit-transition: all .2s ease; transition: all .2s ease; }
button.btn-secondary, input[type="submit"].btn-secondary, .btn.btn-secondary { background: #FFBB11; color: #4D5653; }
button.btn-secondary:hover, input[type="submit"].btn-secondary:hover, .btn.btn-secondary:hover { background: #ffc83f; -webkit-transition: all .2s ease; transition: all .2s ease; }

body { width: 100%; height: 100%; padding: 0; margin: 0; font-family: "CooperHewitt", Helvetica, sans-serif; font-size: 100%; color: #4D5653; }

h1, h2, h3, h4, h5, .h1, .h2, .h3, .h4, .h5 { font-family: "Prohibition", Helvetica, sans-serif; color: #00502f; letter-spacing: .03em; }

h1, .h1 { font-size: 225%; }

p, ul, ol, blockquote { line-height: 1.5em; font-size: 90%; letter-spacing: .01em; }

blockquote, .blockquote { border-left: 0.5em solid #00502f; padding: .5em 1em; font-weight: 700; text-transform: uppercase; }

a { color: #00B2E0; }
a:hover { color: #023F5A; text-decoration: none; }

section { max-width: 60%; margin: 0 auto; }

table { font-family: "CooperHewitt", Helvetica, sans-serif; margin: 1em 0em; text-align: left; border-collapse: collapse; }
table tr th { border-bottom: 2px solid #FFBB11; margin: 0; padding: 1em; text-transform: uppercase; }
table tr td { padding: 1em; }
table tr:nth-child(even) { background: #eeeeee; }
table tr:not(:first-child):hover { background: #E3E0E0; }

@media (max-width: 1199px) { table { display: -webkit-box; display: -ms-flexbox; display: flex; overflow: hidden; background: none; }
  table thead { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-negative: 0; flex-shrink: 0; min-width: -webkit-min-content; min-width: -moz-min-content; min-width: min-content; z-index: 1000; background: #FFBB11; -webkit-box-shadow: 0px 0px 5px 0px #6A756D; box-shadow: 0px 0px 5px 0px #6A756D; }
  table tbody { display: -webkit-box; display: -ms-flexbox; display: flex; position: relative; overflow-x: auto; overflow-y: hidden; }
  table tbody tr { border-right: 1.5px solid #eeeeee; }
  table tbody tr:first-child:hover { background: #E3E0E0; }
  table tbody tr:last-child { border-right: none; }
  table tr { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; min-width: -webkit-min-content; min-width: -moz-min-content; min-width: min-content; -ms-flex-negative: 0; flex-shrink: 0; }
  table tr td, table tr th { display: block; }
  table tr td:last-child, table tr th:last-child { border: none !important; }
  table tr th { border-bottom: 1.5px solid #ffffff; background: #FFBB11; }
  table tr td { border-bottom: 1.5px solid #eeeeee; } }
form { margin: 1em 0em; min-width: 200px; }
form fieldset { width: auto; max-width: 100%; min-width: 200px; border: 1px solid #E3E0E0; }
form fieldset legend { text-transform: uppercase; font-size: 90%; }
form label { text-transform: uppercase; margin-right: 2em; font-size: 90%; font-weight: 700; max-width: 9%; }
form input, form select { margin: 1em 0em; max-width: 90%; font-size: 100%; }
form input { min-height: 1.5em; }
form select { min-height: 2em; }

@font-face { font-family: "CooperHewitt"; src: url("../fonts/CooperHewitt/CooperHewitt-Book.eot"); src: url("../fonts/CooperHewitt/CooperHewitt-Book.svg"); src: url("../fonts/CooperHewitt/CooperHewitt-Book.woff"); font-weight: normal; font-style: normal; text-rendering: optimizeLegibility; }
@font-face { font-family: "CooperHewitt"; src: url("../fonts/CooperHewitt/CooperHewitt-BookItalic.eot"); src: url("../fonts/CooperHewitt/CooperHewitt-BookItalic.svg"); src: url("../fonts/CooperHewitt/CooperHewitt-BookItalic.woff"); font-weight: normal; font-style: italic; text-rendering: optimizeLegibility; }
@font-face { font-family: "CooperHewitt"; src: url("../fonts/CooperHewitt/CooperHewitt-Medium.eot"); src: url("../fonts/CooperHewitt/CooperHewitt-Medium.svg"); src: url("../fonts/CooperHewitt/CooperHewitt-Medium.woff"); font-weight: 600; font-style: normal; text-rendering: optimizeLegibility; }
@font-face { font-family: "CooperHewitt"; src: url("../fonts/CooperHewitt/CooperHewitt-MediumItalic.eot"); src: url("../fonts/CooperHewitt/CooperHewitt-MediumItalic.svg"); src: url("../fonts/CooperHewitt/CooperHewitt-MediumItalic.woff"); font-weight: 600; font-style: italic; text-rendering: optimizeLegibility; }
@font-face { font-family: "CooperHewitt"; src: url("../fonts/CooperHewitt/CooperHewitt-Bold.eot"); src: url("../fonts/CooperHewitt/CooperHewitt-Bold.svg"); src: url("../fonts/CooperHewitt/CooperHewitt-Bold.woff"); font-weight: 700; font-style: normal; text-rendering: optimizeLegibility; }
@font-face { font-family: "CooperHewitt"; src: url("../fonts/CooperHewitt/CooperHewitt-BoldItalic.eot"); src: url("../fonts/CooperHewitt/CooperHewitt-BoldItalic.svg"); src: url("../fonts/CooperHewitt/CooperHewitt-BoldItalic.woff"); font-weight: 700; font-style: italic; text-rendering: optimizeLegibility; }
@font-face { font-family: "Prohibition"; src: url("../fonts/Prohibition-Rough.otf"); font-weight: 400; font-style: normal; text-rendering: optimizeLegibility; }
