/**
 * @name Colors
 * @description SASS variables for the each of the brand colors. For program color associations, visit the link.
 * @state $dark-green - #00502f
 * @state $light-green - #00966C
 * @state $lime-green - #84BD00
 * @state $light-olive - #718D45
 * @state $dark-olive - #455425
 * @state $light-blue - #0E6890
 * @state $dark-blue - 	#023F5A
 * @state $light-gold - #B18234
 * @state $dark-gold - 	#8B6326
 * @state $light-orange - #C86E41
 * @state $dark-orange - #BC4526
 * @state $medium-gray - #6A756D
 * @state $dark-gray - 	#4D5653
 * @state $light-gray - #E3E0E0
 * @state $bright-green - #3FBA81
 * @state $bright-purple - #7B2382
 * @state $bright-blue - #00B2E0
 * @state $bright-gold - #FFBB11
 * @state $bright-orange - #F4903E
 * @state $silver - #BAC7BD
 * @state $white - #ffffff
 * @state $black - #000000
 * @state $off-white - #eeeeee
 * @state $off-black - #212121
 * @link http://www.morrisville.edu/style-guide
 */

// Primary Colors
$dark-green:	#00502f;
$light-green:	#00966C;
$lime-green:	#84BD00;

//Secondary Colors
$light-olive:	#718D45;
$dark-olive:	#455425;
$light-blue:	#0E6890;
$dark-blue:		#023F5A;
$light-gold:	#B18234;
$dark-gold:		#8B6326;
$light-orange:	#C86E41;
$dark-orange:	#BC4526;
$medium-gray:	#6A756D;
$dark-gray:		#4D5653;
$light-gray:	#E3E0E0;

//Tertiary Colors
$bright-green:	#3FBA81;
$bright-purple:	#7B2382;
$bright-blue:	#00B2E0;
$bright-gold:	#FFBB11;
$bright-orange:	#F4903E;
$silver:		#BAC7BD;

//Basic Colors
$white:			#ffffff;
$black:			#000000;
$off-white:		#eeeeee;
$off-black:		#212121;
