/**
 * @name Fonts
 * @description Fonts compliant with the SUNY Morrisville brand. For more information on the web fonts and licenses, contact Web Services.
 * @state Primary - Cooper Hewitt is to be used for body text and some headers.
 * @state Headers - Prohibition should be used for headings.
 */

$font-primary: 'CooperHewitt', Helvetica, sans-serif;
$font-headers: "Prohibition", Helvetica, sans-serif;

//Font Weights
$normal: 400;
$semi-bold: 600;
$bold: 700;

/**
 * @name Viewports
 * @description A few basic media queries have been built in, to standardize user experience for third-party applications that may not support the use of additional frameworks. For a more robust approach to responsive design, use a responsive-design framework such as Bootstrap.
 * @state mobile - Applies to viewports fewer than 960px wide.
 * @state tablet - Applies to viewports between 960px and 1199px wide.
 * @state tablet-down - Applies to viewports fewer than 1199px wide.
 * @state desktop - Applies to viewports greater than 1200px wide.
 */

$tablet-width: 960px;
$desktop-width: 1200px;

@mixin mobile {
	@media (max-width: #{$tablet-width - 1px}) {
		@content;
	}
}

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin tablet-down {
  @media (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}