@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?m7bqey');
  src:  url('fonts/icomoon.eot?m7bqey#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?m7bqey') format('truetype'),
    url('fonts/icomoon.woff?m7bqey') format('woff'),
    url('fonts/icomoon.svg?m7bqey#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-x:before {
  content: "\e904";
  color: #fff;
}
.icon-quote:before {
  content: "\e903";
  color: #eeb733;
}
.icon-large-arrow:before {
  content: "\e900";
  color: #198661;
}
.icon-search:before {
  content: "\e901";
  color: #398058;
}
.icon-arrow:before {
  content: "\e902";
  color: #198661;
}
