/**
 * @name Button
 * @description A button that does stuff. 
 * 
 * @state .btn-secondary - A seconday style for the button.
 *
 * @markup
 * 	<button>Another button</button>
 */
button, input[type="submit"], .btn {
	border: none;
	border-radius: none;
	cursor: pointer;
	padding: .85%;
	text-transform: uppercase;
	font-family: $font-headers;
	font-size: 100%;
	min-width: 200px;

	//Primary Button Style
	background: $dark-gray;
	color: $bright-gold;
	&:hover{
		background: darken($dark-gray, 9%);
		transition: all .2s ease;
	}

	&.btn-secondary {
		background: $bright-gold;
		color: $dark-gray;
		&:hover {
			background: lighten($bright-gold, 9%);
			transition: all .2s ease;
		}
	}
}