body {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	font-family: $font-primary;
	font-size: 100%;
	color: $dark-gray;
}

/**
 * @name Headings
 * @description Headings are styled up to level 5.
 * @markup
 * 	<h1>Heading 1</h1>
 */

 /**
 * @name Headings
 * @description Headings are styled up to level 5.
 * @markup
 * 	<h2>Heading 2</h2>
 */
 /**
 * @name Headings
 * @description Headings are styled up to level 5.
 * @markup
 * 	<h3>Heading 3</h3>
 */
 /**
 * @name Headings
 * @description Headings are styled up to level 5.
 * @markup
 * 	<h4>Heading 4</h4>
 */
 /**
 * @name Headings
 * @description Headings are styled up to level 5.
 * @markup
 * 	<h5>Heading 5</h5>
 */

h1, .h1{
  font-size: 3em;
  margin-bottom: .75em;
  line-height: 1em;
  font-family: $font-headers;
  text-transform: uppercase;
  font-weight: $normal;
  color: $dark-green;
  @include mobile {
    font-size: 3em;
    margin-bottom: .75em;
  }
  a{
    color: black;
  }
}

h2, .h2 {
  font-size: 1.75em;
  margin-bottom: .25em;
  line-height: 1em;
  font-weight: $semi-bold;
  color: $medium-gray;
  @include mobile {
    font-size: 2em;
  }
  a{
    color: $medium-gray;
  }
}

h3, .h3{
  font-size: 1.5em;
  margin-bottom:.5em;
  line-height: 1em;
  font-weight: $semi-bold;
  color: $dark-green;
  
  @include mobile {
    font-size: 1.75em;
  }
  a{
    color: $dark-gray;
  }
}

h4, .h4{
  font-size: 1.25em;
  margin-bottom: .25em;
  font-weight: $semi-bold;
  color: $medium-gray;
  @include mobile {
    font-size: 1.5em;
  }
  line-height: 1em;
}

h5, .h5{
  font-size:1em;
  font-weight: $bold;
  margin-bottom: 0;
  text-transform: uppercase;
  letter-spacing: .05em;
}

/**
 * @name Paragraphs
 * @description Paragraphs are the building blocks of websites.
 * @markup
 * 	<p>Lorem ipsum dolor sit amet.</p>
 */

/**
 * @name Ordered Lists
 * @description Some lists have order.
 * @markup
 * 	<ol><li>Lorem ipsum</li><li>dolor sit amet</li></ol>
 */

/**
 * @name Unordered Lists
 * @description Some lists do not.
 * @markup
 * 	<ul><li>Lorem ipsum</li><li>dolor sit amet</li></ul>
 */

/**
 * @name Blockquotes
 * @description Blockquotes are also a thing.
 * @markup
 * 	<blockquote>Lorem ipsum dolor sit amet.</blockquote>
 */

 p, ul, ol, blockquote {
 	line-height: 1.5em;
 	font-size: 90%;
 	letter-spacing: .01em;
 }

 blockquote, .blockquote {
 	border-left: .5em solid $dark-green;
 	padding: .5em 1em;
 	font-weight: $bold;
 	text-transform: uppercase;
 }

/**
 * @name Links
 * @description Links go places.
 * @markup
 * 	<a href="http://google.com">This is a Link</a>
 */

 a, a:visited {
 	color: $bright-blue;
 	text-decoration: underline;
 	border: none;

 	&:hover {
 		color: $dark-blue;
 		text-decoration: none;
 		border: none;
 	}
 }

 section {
 	max-width:60%;
 	margin:0 auto;
 }

/**
 * @name Tables
 * @description Correctly-structured tables will flip axis on mobile in order to aid readability.
 * @markup
		<table style="width:100%"><thead><tr><th>First name</th><th>Last name</th><th>Age</th></tr></thead><tbody><tr><td>Jill</td><td>Smith</td><td>50</td></tr><tr><td>Eve</td><td>Jackson</td><td>94</td></tr><tr><td>Jill</td><td>Smith</td> <td>50</td></tr><tr><td>Eve</td><td>Jackson</td> <td>94</td></tr></tbody></table>
*/

table {
	font-family: $font-primary;
	margin: 1em 0em;
	text-align: left;
	border-collapse: collapse;

	tr {
		th {
			border-bottom: 2px solid $bright-gold;
			margin: 0;
			padding: 1em;
			text-transform: uppercase;
		}

		td {
			padding: 1em;			
		}

		&:nth-child(even) {
			background: $off-white;
		}

		&:not(:first-child):hover {
			background: $light-gray;
		}
	}
}

@include tablet-down { //flip table axis on mobile, delete or reset this if table structure doesn't match
	table {
		display: flex;
		overflow: hidden;
		background: none;

		thead {
			display: flex;
			flex-shrink: 0;
			min-width: min-content;
			z-index: 1000;
			background: $bright-gold;

			box-shadow: 0px 0px 5px 0px $medium-gray;
		}

		tbody {
			display: flex;
			position: relative;
			overflow-x: auto;
			overflow-y: hidden;

			tr {
				border-right: 1.5px solid $off-white;
				&:first-child:hover {
					background: $light-gray;
				}

				&:last-child {
					border-right: none;
				}
			}
		}

		tr {
			display: flex;
			flex-direction: column;
			min-width: min-content;
			flex-shrink: 0;

			td, th {
				display: block;

				&:last-child {
					border: none !important;
				}
			}

			th {
				border-bottom: 1.5px solid $white;
				background: $bright-gold;
			}

			td {
				border-bottom: 1.5px solid $off-white;
			}
		}
	}
}

/**
 * @name Text Input
 * @description Because forms need fields.
 * @markup
 	<form><fieldset><legend>Text Input</legend><label for="text">Field Label</label><input name="text" type="text"/></fieldset></form>
 */

 /**
 * @name Select
 * @description Because forms need fields.
 * @markup
 	<form><fieldset><legend>Select</legend><label for="select">Field Label</label><select name="select"><option>Option 1</option><option>Option 2</option></select></fieldset></form>
 */

form {
	margin: 1em 0em;
	min-width: 200px;

	fieldset {
		width:auto;
		max-width: 100%;
		min-width: 200px;
		border: 1px solid $light-gray;
		margin: initial;
		padding: .35em .75em;

		legend {
			text-transform: uppercase;
			font-size: 90%;
		}
	}

	label {
		text-transform: uppercase;
		margin-right: 2em;
		font-size: 90%;
		font-weight: $bold;
		max-width: 9%;
	}

	input, select {
		margin: 1em 0em;
		max-width: 90%;
		font-size: 100%;
	}

	input {
		min-height: 1.5em;
	}

	select {
		min-height: 2em;
	}

/**
 * @name Radio
 * @description Because forms need fields.
 * @markup
 	<form><fieldset><legend>Radio Buttons</legend><p>Choose one:</p><input type="radio" id="contactChoice1" name="contact" value="email"><label for="contactChoice1">Email</label><input type="radio" id="contactChoice2" name="contact" value="phone"><label for="contactChoice2">Phone</label><input type="radio" id="contactChoice3" name="contact" value="mail"><label for="contactChoice3">Mail</label></fieldset></form>
 */

 /**
 * @name Checkbox
 * @description Because forms need fields.
 * @markup
 	<form><fieldset><legend>Checkboxes</legend><p>Choose all that apply:</p><input type="checkbox" id="contactChoice1" name="contact" value="email"><label for="contactChoice1">Email</label><input type="checkbox" id="contactChoice2" name="contact" value="phone"><label for="contactChoice2">Phone</label><input type="checkbox" id="contactChoice3" name="contact" value="mail"><label for="contactChoice3">Mail</label></fieldset></form>
 */

	input[type="radio"], input[type="checkbox"] {
		float:left;

		& + label {
			float: left;
			margin: 1em 2em 1em .5em;
		}

	}
}