/**
 * @name Fonts
 * @description Fonts compliant with the SUNY Morrisville brand. For more information on the web fonts and licenses, contact Web Services.
 * @state Primary - Cooper Hewitt is to be used for body text and some headers.
 * @state Headers - Prohibition should be used for headings.
 */

@font-face {
  font-family: "CooperHewitt";
  src:url("../../node_modules/morrisville-base-styles/src/fonts/CooperHewitt/CooperHewitt-Book.eot");
  src:url("../../node_modules/morrisville-base-styles/src/fonts/CooperHewitt/CooperHewitt-Book.svg");
  src:url("../../node_modules/morrisville-base-styles/src/fonts/CooperHewitt/CooperHewitt-Book.woff");
  font-weight: normal;
  font-style: normal;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: "CooperHewitt";
  src:url("../../node_modules/morrisville-base-styles/src/fonts/CooperHewitt/CooperHewitt-BookItalic.eot");
  src:url("../../node_modules/morrisville-base-styles/src/fonts/CooperHewitt/CooperHewitt-BookItalic.svg");
  src:url("../../node_modules/morrisville-base-styles/src/fonts/CooperHewitt/CooperHewitt-BookItalic.woff");
  font-weight: normal;
  font-style: italic;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: "CooperHewitt";
  src:url("../../node_modules/morrisville-base-styles/src/fonts/CooperHewitt/CooperHewitt-Medium.eot");
  src:url("../../node_modules/morrisville-base-styles/src/fonts/CooperHewitt/CooperHewitt-Medium.svg");
  src:url("../../node_modules/morrisville-base-styles/src/fonts/CooperHewitt/CooperHewitt-Medium.woff");
  font-weight: $semi-bold;
  font-style: normal;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: "CooperHewitt";
  src:url("../../node_modules/morrisville-base-styles/src/fonts/CooperHewitt/CooperHewitt-MediumItalic.eot");
  src:url("../../node_modules/morrisville-base-styles/src/fonts/CooperHewitt/CooperHewitt-MediumItalic.svg");
  src:url("../../node_modules/morrisville-base-styles/src/fonts/CooperHewitt/CooperHewitt-MediumItalic.woff");
  font-weight: $semi-bold;
  font-style: italic;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: "CooperHewitt";
  src:url("../../node_modules/morrisville-base-styles/src/fonts/CooperHewitt/CooperHewitt-Bold.eot");
  src:url("../../node_modules/morrisville-base-styles/src/fonts/CooperHewitt/CooperHewitt-Bold.svg");
  src:url("../../node_modules/morrisville-base-styles/src/fonts/CooperHewitt/CooperHewitt-Bold.woff");
  font-weight: $bold;
  font-style: normal;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: "CooperHewitt";
  src:url("../../node_modules/morrisville-base-styles/src/fonts/CooperHewitt/CooperHewitt-BoldItalic.eot");
  src:url("../../node_modules/morrisville-base-styles/src/fonts/CooperHewitt/CooperHewitt-BoldItalic.svg");
  src:url("../../node_modules/morrisville-base-styles/src/fonts/CooperHewitt/CooperHewitt-BoldItalic.woff");
  font-weight: $bold;
  font-style: italic;
  text-rendering: optimizeLegibility;
}


//for local sites that aren't whitelisted

@font-face {
  font-family: "Prohibition";
  src:url("../../node_modules/morrisville-base-styles/src/fonts/Prohibition-Rough.otf");
  font-weight: $normal;
  font-style: normal;
  text-rendering: optimizeLegibility;
}