<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>{{project.name}} styleguide</title>  
  <link rel="stylesheet" href="assets/js/prettify/prettify.css?v=1" type="text/css" />
  <link rel="stylesheet" href="assets/css/styles.css?v=1" type="text/css" />
  <link rel="stylesheet" href="../../dist/css/main.css" type="text/css" />
  <script src="assets/js/prettify/prettify.js?v=1"></script>

  <script src="../js/jquery-3.3.1.min.js"></script>
  <script>
    $(function() { $("div.example.state > div.item").each(function() { var pseudoState = $(this).attr("data-state"); $(this).children().addClass(pseudoState); }) });
  </script>
</head>
<body onload="prettyPrint()">
  
  <header>
    <h1>{{project.name}} styleguide</h1>
    <p class="version">v.<strong>{{project.version}}</strong></p>
    <p class="description">{{project.description}}</p>
  </header>

  <div id="wrapper">

    <nav role="main">
      <h2>Table of Contents</h2>
      <ul>
        {{#files}}
          <li><a href="#{{file}}" data-file="{{file}}">{{file}}</a></li>
        {{/files}}
      </ul>
    </nav>

    <div class="styleguide">

      {{#files}}
      <div class="file">
        
        <h3 id="{{file}}">{{file}}</h3>
        
        {{#blocks}}
          
          <div class="block">

            <div class="info">
              <h4>{{name}}</h4>
              {{#if description}}
                <p class="description">{{description}} <br /> <a href="{{link}}">{{link}}</a></p>
              {{/if}}
              
              {{#state}}
                <p class="state"><span>{{name}}</span> - {{description}}</p>
              {{/state}}
            </div>
            
            {{#if markup}}
              
              <div class="example">
                {{{markup.example}}}
              </div>
            
              {{#state}}
                <div class="example state">
                  <div class="name">{{name}}</div>
                  <div class="item" data-state="{{escaped}}">
                    {{{../markup.example}}}
                  </div>
                </div>
              {{/state}}

<pre class="prettyprint lang-html markup">
{{{markup.escaped}}}
</pre>
            
            {{/if}}
        
        </div>
        {{/blocks}}

      </div>
      {{/files}}

    </div>

  </div>

  <footer>
  </footer>

</body>
</html>
